form(name="form" role="form" novalidate ng-submit="resetPasswordRequestForm.submit()")
  .form-group
    label(for="email") Email:
    input(type="email" name="email" ng-model="resetPasswordRequestForm.email" ng-required="!resetPasswordRequestForm.hasSubmit" ng-pattern="resetPasswordRequestForm.config.validation.user.email.pattern" ng-change="resetPasswordRequestForm.changeFields()" ng-model-options="{debounce: 500}")#email.form-control
    mgr-validation(form="form" field="form.email" validators="resetPasswordRequestForm.validators.email")
  .form-group(ng-if="resetPasswordRequestForm.error")
    span.control-label.has-error.text-danger {{resetPasswordRequestForm.error}}
  .form-group(ng-if="resetPasswordRequestForm.success")
    span.control-label.has-error.text-success {{resetPasswordRequestForm.success}}
  .form-group.nomargin.btn-row.clearfix
    a.pull-left(href='/sign-in') Sign In
    button.pull-right(type="submit" ng-disabled="form.$invalid").btn.btn-warning Send
