#manage-brands

  .table-container
    min-width 1030px

  .col
    &-id
      min-width 82px
      max-width 82px
    &-date
      min-width 82px
      max-width 82px
    &-user
      min-width 82px
      max-width 82px
    &-image
      min-width 120px
      max-width 120px
      text-align center
    &-name
      min-width 120px
      max-width 120px
    &-category
      min-width 96px
      max-width 96px
    &-subcategory
      min-width 96px
      max-width 96px
    &-text
      min-width 145px
      max-width 145px
    &-state
      min-width 102px
      max-width 108px
    &-countries
      min-width 62px
      max-width 62px
      & > div
        padding-top 12px
        line-height 22px
    &-actions
      min-width 87px
      max-width 87px

    .glyphicon
      &:nth-of-type(odd)
        margin-left 12px
