#modal-dialog_add-bc

  .modal
    &-body
      select
        width 100%
        min-height 130px
      .block
        &-header
          border-bottom 1px solid #e5e5e5
        &-buttons
          button
            width 100%
            line-height 16px
            &.glyphicon-chevron-right
              margin-top 25px
              margin-bottom 14px
