#announcements
  position relative

  .status-wall
    height 600px
    &+div
      display none

  .announcements
    float none
    margin 40px auto 0

    input[type="radio"],
    input[type="checkbox"]
      margin-right 5px
    label
      margin-bottom 0

    .oneline
      line-height 34px

    .text-row
      label
        margin-bottom 5px

    .gender-row
      white-space nowrap

    .part-body
      margin-top 10px
      padding 0 15px

    a.category-name
      padding-right 0
      padding-left 0
      &:hover
        background #d0deea
        &:before
          background-color #d0deea

    .subscriptions-list
      .item
        display inline-block
        position relative
        margin 5px 5px 0 0
        padding 3px 10px 3px 10px
        border 1px solid rgba(0,0,0,0.25)
        border-radius 5px
        font-size 12px
        background-color #ccc
        cursor pointer
        .glyphicon
          margin-left 5px

    .group-range
      a
        span
          padding 5px 15px

    .search-result
      margin-top -12px
      a:hover
        background #d0deea

    #text
      height 90px
