section#state-sign-in.as-table

  .as-table-cell
    .row.centered
      .col-sm-6.col-sm-offset-3.sign-in-container.as-modal
        section.panel.panel-default
          .panel-heading.text-center
            h2 Welcome
          .panel-body
            sign-in-form
