#modal-dialog_import-brands

  #import-brands
    margin-bottom 5px
    width 100%

  .messages-box,
  .errors-box
    max-height 280px
    overflow-y auto

  .progress
    margin 10px 0 5px

    &-bar
      overflow hidden
      .mgr-validation-messages
        text-align center
        li
          margin 0
          padding 0 6px
          color #fff !important
          white-space nowrap
          overflow hidden
          text-overflow ellipsis

  .mgr-validation-messages
    .filename
      text-decoration underline
