#modal-dialog_comments

  .comments-container
    padding-right 4px
    max-height 360px
    overflow-y auto
    overflow-x hidden

  .glyphicon
    &-trash
      cursor pointer

  .comment-row
    &:not(:first-child)
      margin-top 15px
      padding-top 15px
      border-top 2px dashed #e0e0e0

  .col-date,
  .col-actions
    text-align right

  .comment-text
    margin-top 7px
    padding 6px
    font-size 12px
    border 1px solid #ccc
    border-radius 5px
    p
      margin-bottom 0
