$color-error = #a94442
$color-link = #337ab7
$color-success = #3f943f
$border-radius = 3px
$font-family = RobotoRegular
$font-family-light = RobotoLight
$font-family-medium = RobotoMedium
$font-family-bold = RobotoBold
$font-family-italic = RobotoItalic
$font-family-bold-italic = RobotoBoldItalic

placeholder(block)
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
