#manage-reviews

  .table-container
    min-width 940px

  .col
    &-id
      min-width 82px
      max-width 82px
    &-date
      min-width 92px
      max-width 92px
    &-username
      min-width 102px
      max-width 102px
    &-image
      min-width 110px
      max-width 110px
      text-align center
    &-brand
      min-width 120px
      max-width 120px
    &-rate
      min-width 53px
      max-width 53px
    &-text
      min-width 150px
      max-width 150px
    &-actions
      min-width 124px
      max-width 124px

  .glyphicon
    &.delete
      margin-left 12px
