#manage-users

  .table-container
    min-width 1140px

  .col
    &-id
      min-width 78px
      max-width 78px
    &-photo
      min-width 100px
      max-width 100px
    &-username
      min-width 112px
      max-width 112px
    &-email
      min-width 140px
      max-width 140px
    &-status
      min-width 92px
      max-width 92px
      .toggle-switch
        min-width 100%
    &-firstname
      min-width 92px
      max-width 92px
    &-lastname
      min-width 92px
      max-width 92px
    &-gender
      min-width 64px
      max-width 64px
    &-dob
      min-width 78px
      max-width 78px
    &-location
      min-width 92px
      max-width 92px
      span
        line-height 32px
    &-income
      min-width 114px
      max-width 114px
    &-actions
      min-width 84px
      max-width 84px

  .users-status
    height 28px
    span
      line-height 18px
