#modal-dialog_add-user

  .gender
    > div
        line-height 34px
        label
          font-weight 500
        input[type='radio']
          margin-right 5px
    #gender-female
      margin-left 15px
    #gender-female2
      margin-left 15px

  .dob
    .input-group
      > input
        height 100%
        &.form-control
          height 34px
    .dropdown-menu
      top inherit !important
      bottom 35px
      li:last-child
        display none

  .mgr-validation-messages
    li, li p
      margin-left 0
      margin-bottom 0

  .form-group
    .text-danger
      font-size 12px
