form(name="form" role="form" novalidate ng-submit="resetPasswordForm.submit()")
  .form-group
    label(for="password") Password:
    input(type="password" name="password" ng-model="resetPasswordForm.password" ng-required="!resetPasswordForm.hasSubmit" ng-minlength="resetPasswordForm.config.validation.user.password.minLength" ng-change="resetPasswordForm.changeFields()" ng-model-options="{debounce: 500}")#password.form-control
    mgr-validation(form="form" field="form.password" validators="resetPasswordForm.validators.password")
  .form-group
    label(for="re-password") Re-enter password:
    input(type="password" name="re-password" ng-model="resetPasswordForm.rePassword" ng-required="!resetPasswordForm.hasSubmit" ng-minlength="resetPasswordForm.config.validation.user.password.minLength" ng-change="resetPasswordForm.changeFields()" ng-model-options="{debounce: 500}")#re-password.form-control
    mgr-validation(form="form" field="form['re-password']" validators="resetPasswordForm.validators.password")
  .form-group(ng-if="resetPasswordForm.error")
    span.control-label.has-error.text-danger {{resetPasswordForm.error}}
  .form-group(ng-if="resetPasswordForm.success")
    span.control-label.has-error.text-success {{resetPasswordForm.success}}
  .form-group.nomargin.clearfix
    button.pull-right(type="submit" ng-disabled="form.$invalid").btn.btn-warning Send
